<!-- views/failed-checkout.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout Gagal</title>
  <link rel="stylesheet" href="/css/tailwind.css">
</head>

<body class="bg-gray-100 p-4">
  <div class="flex justify-center items-center h-screen">
    <div class="bg-white rounded-lg shadow-md overflow-hidden p-8 text-center">
      <h1 class="text-3xl font-semibold text-red-500 mb-4">Checkout Gagal</h1>
      <p class="text-gray-600 text-lg mb-8">Maaf, terdapat masalah saat melakukan checkout.</p>
      <a href="/dashboard"
        class="bg-blue-500 mt-6 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:scale-105">Kembali
        ke Dashboard</a>
    </div>
  </div>
</body>

</html>